@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.header {
  width: 100%;
  padding: 5rem;
}
.header-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.header-navigation {
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 4rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.header-navigation li a {
  font-family: "Poppins, sans-serif";
  font-weight: 400;
  font-size: 1.8rem;
  color: #1e1e1e;
}
.header-icons-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section-container {
  width: 90%;
  height: 50rem;
  margin: 5rem;
  background-color: #C1DCDC;
  border-radius: 2.4rem;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.section-container h2 {
  width: 40%;
  font-family: "Poppins, sans-serif";
  font-weight: 800;
  font-size: 6.4rem;
}
.section-container-rumbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.section-container-rumbers h3 {
  font-family: "Poppins, sans-serif";
  font-weight: 400;
  font-size: 3.2rem;
}
.section-container-rumbers p {
  font-family: "Poppins, sans-serif";
  font-weight: 400;
  font-size: 1.8rem;
  color: #1e1e1e;
}
.section form {
  width: 100%;
}
.section form .search-container-search input {
  position: relative;
  width: 20%;
  border-radius: 1.2rem;
  padding: 1rem;
  border: none;
}
.section form .search-container-search-icon {
  background-color: #C1DCDC;
  width: 2.5%;
  padding: 0.5rem;
  border-radius: 1.2rem;
  position: absolute;
  top: 28.7rem;
  left: 21.3rem;
  cursor: pointer;
}
.section form .search-container-search-icon img {
  width: 75%;
}
.section .section-images-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.section .section-images-container .pointer {
  position: absolute;
  top: 28rem;
  left: 29rem;
  width: 20%;
}
.section .section-images-container .rectangle {
  position: absolute;
  top: 17rem;
  left: 65rem;
  width: 33%;
}
.section .section-images-container .plant {
  position: absolute;
  top: 1.5rem;
  left: 66rem;
  width: 35%;
}
.section .section-images-container .plant:hover {
  -webkit-transform: rotate(-16deg);
          transform: rotate(-16deg);
}
.section .section-images-container .pointer-2 {
  position: absolute;
  top: 1.1rem;
  left: 101rem;
  width: 12%;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 2rem;
  }
  .header-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-navigation {
    display: none;
  }
  .header-icons {
    margin-left: 0;
  }
  .section-container {
    margin: 2rem;
    padding: 1.5rem;
  }
  .section-container h2 {
    width: 100%;
    font-size: 3.2rem;
  }
  .section .section-container-rumbers {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section .section-container-rumbers h3 {
    margin-bottom: 0.5rem;
  }
  .section form .search-container-search input {
    width: 100%;
  }
  .section form .search-container-search-icon {
    top: 18rem;
    left: calc(100% - 4.2rem);
    width: 2.5rem;
  }
  .section .section-images-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section .section-images-container .pointer {
    position: absolute;
    top: 29rem;
    left: 7rem;
    width: 29%;
  }
  .section .section-images-container .rectangle {
    position: absolute;
    top: 33rem;
    left: 30rem;
    width: 29%;
  }
  .section .section-images-container .plant {
    position: absolute;
    top: 26.3rem;
    left: 32rem;
    width: 29%;
  }
  .section .section-images-container .pointer-2 {
    position: absolute;
    top: 22.3rem;
    left: 52rem;
    width: 15%;
  }
}
.selling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 5rem;
}
.selling-best {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.selling-best h2 {
  font-family: "Poppins, sans-serif";
  font-weight: 700;
  font-size: 3.2rem;
}
.selling-best p {
  font-family: "Poppins, sans-serif";
  font-weight: 400;
  font-size: 1.8rem;
}
.selling-best-btn {
  background-color: #C1DCDC;
  border-radius: 0.8rem;
  font-family: "Poppins, sans-serif";
  font-weight: 400;
  font-size: 1.8rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.selling-best-btn:hover {
  border-radius: 0.8rem;
  -webkit-box-shadow: 0 0 0.5rem 0.5rem rgba(30, 30, 30, 0.5);
          box-shadow: 0 0 0.5rem 0.5rem rgba(30, 30, 30, 0.5);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.selling-best-btn span {
  padding: 8rem;
  cursor: pointer;
}
.selling .plants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.selling .plants h3 {
  font-family: "Poppins, sans-serif";
  font-weight: 400;
  font-size: 1.8rem;
  padding: 1rem;
}
.selling .plants span {
  font-family: "Poppins, sans-serif";
  font-weight: 400;
  font-size: 1.8rem;
  color: rgba(30, 30, 30, 0.5);
  padding: 1rem;
}
.selling .plants .artificial:hover,
.selling .plants .natural:hover,
.selling .plants .artificial-plants:hover {
  -webkit-box-shadow: 0 0 0.5rem 0.5rem rgba(30, 30, 30, 0.5);
          box-shadow: 0 0 0.5rem 0.5rem rgba(30, 30, 30, 0.5);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  border-radius: 1.2rem;
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.about-us {
  width: 100%;
  padding-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about-us-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about-us-about h2 {
  font-family: "Poppins, sans-serif";
  font-weight: 700;
  font-size: 3.2rem;
}
.about-us-about p {
  font-family: "Poppins, sans-serif";
  font-weight: 400;
  font-size: 1.8rem;
  color: rgba(30, 30, 30, 0.5);
}
.about-us-offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.about-us-offers .assortment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about-us-offers .assortment .large {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  width: 10rem;
  height: 10rem;
  background-color: #C1DCDC;
  border-radius: 50%;
}
.about-us-offers .assortment h3 {
  font-family: "Poppins, sans-serif";
  font-weight: 700;
  font-size: 1.8rem;
}
.about-us-offers .assortment p {
  font-family: "Poppins, sans-serif";
  font-weight: 400;
  font-size: 1.8rem;
  color: rgba(30, 30, 30, 0.5);
  padding: 5rem;
}

.categories {
  padding: 10rem;
  width: 100%;
}
.categories-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.categories .categories-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.categories .categories-heading h2 {
  font-family: "Poppins, sans-serif";
  font-weight: 700;
  font-size: 3.2rem;
}
.categories .categories-heading p {
  font-family: "Poppins, sans-serif";
  font-weight: 400;
  font-size: 1.8rem;
  color: rgba(30, 30, 30, 0.5);
}
.categories .categories-pictures {
  background-color: #C1DCDC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.categories .categories-pictures h3 {
  font-family: "Poppins, sans-serif";
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
  padding: 1rem;
}
.categories .categories-pictures p {
  font-family: "Poppins, sans-serif";
  font-weight: 400;
  font-size: 1.8rem;
  color: rgba(30, 30, 30, 0.5);
  text-align: center;
}
.categories .categories-pictures-accesories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.categories .categories-pictures-accesories .categories-pictures-accesories-btn {
  background-color: #fff;
  border-radius: 0.8rem;
  padding: 1rem;
  font-family: "Poppins, sans-serif";
  font-weight: 400;
  font-size: 1.8rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.categories .categories-pictures-accesories .categories-pictures-accesories-btn:hover {
  border-radius: 0.8rem;
  -webkit-box-shadow: 0 0 0.5rem 0.5rem rgba(30, 30, 30, 0.5);
          box-shadow: 0 0 0.5rem 0.5rem rgba(30, 30, 30, 0.5);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.customers-comments {
  width: 100%;
  padding: 5rem;
}
.customers-comments h2 {
  font-family: "Poppins, sans-serif";
  font-weight: 700;
  font-size: 3.2rem;
  width: 40%;
  padding: 5rem;
}
.customers-comments-1 {
  width: 80%;
}
.customers-comments-1 .customers-comments-john-doe {
  padding: 5rem;
}
.customers-comments-1 .customers-comments-john-doe-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.customers-comments-1 .customers-comments-john-doe-comment .customer-comments-john-doe-comment-1 {
  background-color: #C1DCDC;
  width: 50%;
  margin-left: 3rem;
  padding: 3rem;
  border-radius: 1.2rem;
}
.customers-comments-1 .customers-comments-john-doe-comment .customer-comments-john-doe-comment-1 p {
  font-family: "Poppins, sans-serif";
  font-weight: 400;
  font-size: 1.8rem;
  color: rgba(30, 30, 30, 0.5);
  padding: 3rem;
}
.customers-comments-1 .customers-comments-john-doe-comment .customer-comments-john-doe-comment-1 .customer-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}
.customers-comments-1 .customers-comments-john-doe-comment .customer-comments-john-doe-comment-1 .customer-info img {
  position: absolute;
  top: -2.3rem;
  left: 0;
}
.customers-comments-1 .customers-comments-john-doe-comment .customer-comments-john-doe-comment-1 .customer-info .customer-name {
  width: 100%;
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.customers-comments-1 .customers-comments-john-doe-comment .customer-comments-john-doe-comment-1 .customer-info .customer-name .john-heading {
  font-family: "Poppins, sans-serif";
  font-weight: 700;
  font-size: 1.8rem;
}
.customers-comments-1 .customers-comments-john-doe-comment .customer-comments-john-doe-comment-1 .customer-info .customer-name span {
  font-family: "Poppins, sans-serif";
  font-weight: 400;
  font-size: 1.8rem;
  color: rgba(30, 30, 30, 0.5);
}
.customers-comments-1 .customers-comments-john-doe-comment .customer-comments-john-doe-comment-1 .customer-info .raiting {
  padding: 4rem;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.customers-comments-1 .customers-comments-john-doe-comment .customer-comments-john-doe-comment-1 .customer-info .raiting img {
  width: 5%;
}

.footer {
  width: 100%;
  background-color: #C1DCDC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5rem;
  position: relative;
}
.footer-chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 25rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.footer-chart .help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.footer-chart .help-help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-chart .help-help p {
  font-family: "Poppins, sans-serif";
  font-weight: 400;
  font-size: 1.8rem;
  color: rgba(30, 30, 30, 0.5);
}
.footer-chart .help-help .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.footer-chart .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-chart .footer-list h2 {
  font-family: "Poppins, sans-serif";
  font-weight: 700;
  font-size: 1.8rem;
}
.footer-chart .footer-list li {
  font-family: "Poppins, sans-serif";
  font-weight: 400;
  font-size: 1.8rem;
  color: rgba(30, 30, 30, 0.5);
}
.footer span {
  position: absolute;
  top: 21rem;
  left: 5rem;
  font-family: "Poppins, sans-serif";
  font-weight: 400;
  font-size: 1.8rem;
  color: rgba(30, 30, 30, 0.5);
}/*# sourceMappingURL=main.css.map */