@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.header {
  width: 100%;
  padding: 5rem;
}
.header-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.header-navigation {
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 4rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.header-navigation li a {
  font-family: "Poppins, sans-serif";
  font-weight: 400;
  font-size: 1.8rem;
  color: #1e1e1e;
}
.header-icons-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section-container {
  width: 90%;
  height: 50rem;
  margin: 5rem;
  background-color: #C1DCDC;
  border-radius: 2.4rem;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.section-container h2 {
  width: 40%;
  font-family: "Poppins, sans-serif";
  font-weight: 800;
  font-size: 6.4rem;
}
.section-container-rumbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.section-container-rumbers h3 {
  font-family: "Poppins, sans-serif";
  font-weight: 400;
  font-size: 3.2rem;
}
.section-container-rumbers p {
  font-family: "Poppins, sans-serif";
  font-weight: 400;
  font-size: 1.8rem;
  color: #1e1e1e;
}
.section form {
  width: 100%;
}
.section form .search-container-search input {
  position: relative;
  width: 20%;
  border-radius: 1.2rem;
  padding: 1rem;
  border: none;
}
.section form .search-container-search-icon {
  background-color: #C1DCDC;
  width: 2.5%;
  padding: 0.5rem;
  border-radius: 1.2rem;
  position: absolute;
  top: 28.7rem;
  left: 21.3rem;
  cursor: pointer;
}
.section form .search-container-search-icon img {
  width: 75%;
}
.section .section-images-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.section .section-images-container .pointer {
  position: absolute;
  top: 28rem;
  left: 29rem;
  width: 20%;
}
.section .section-images-container .rectangle {
  position: absolute;
  top: 17rem;
  left: 65rem;
  width: 33%;
}
.section .section-images-container .plant {
  position: absolute;
  top: 1.5rem;
  left: 66rem;
  width: 35%;
}
.section .section-images-container .pointer-2 {
  position: absolute;
  top: 1.1rem;
  left: 101rem;
  width: 12%;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 2rem;
  }
  .header-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-navigation {
    display: none;
  }
  .header-icons {
    margin-left: 0;
  }
  .section-container {
    margin: 2rem;
    padding: 1.5rem;
  }
  .section-container h2 {
    width: 100%;
    font-size: 3.2rem;
  }
  .section .section-container-rumbers {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section .section-container-rumbers h3 {
    margin-bottom: 0.5rem;
  }
  .section form .search-container-search input {
    width: 100%;
  }
  .section form .search-container-search-icon {
    top: 18rem;
    left: calc(100% - 4.2rem);
    width: 2.5rem;
  }
  .section .section-images-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section .section-images-container .pointer {
    position: absolute;
    top: 29rem;
    left: 7rem;
    width: 29%;
  }
  .section .section-images-container .rectangle {
    position: absolute;
    top: 33rem;
    left: 30rem;
    width: 29%;
  }
  .section .section-images-container .plant {
    position: absolute;
    top: 26.3rem;
    left: 32rem;
    width: 29%;
  }
  .section .section-images-container .pointer-2 {
    position: absolute;
    top: 22.3rem;
    left: 52rem;
    width: 15%;
  }
}/*# sourceMappingURL=main.css.map */